<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <!-- Bootstrapの設定 -->
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}" rel="stylesheet"/>
    <script th:src="@{/webjars/jquery/1.11.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
    <title>SignUp</title>
</head>
<body>
    <div class="col-sm-5">
        <div class="page-header">
            <h1>ユーザー登録画面</h1>
        </div>
    </div>
    <form method="post" th:action="@{/signup}" th:object="${signupForm}">
        <table class="table table-bordered table-hover">
            <!-- ユーザーIDの入力エリア -->
            <tr>
                <th class="active col-sm-3">ユーザーID</th>
                <td>
                    <!-- ポイント１ : エラー用CSSの追加 -->
                    <div class="form-group" th:classappend = "${#fields.hasErrors('userId')} ? 'has-error'">
                        <input type="text" class="form-control" th:field="*{userId}"/>
                        <!-- ポイント２ : 個別エラーメッセージの表示 -->
                        <span class = "text-danger" th:if="${#fields.hasErrors('userId')}" th:errors="*{userId}">userId error</span>
                    </div>
                </td>
            </tr>
            <!-- パスワードの入力エリア -->
            <tr>
                <th class="active">パスワード</th>
                <td>
                    <!-- ポイント１ : エラー用CSSの追加 -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
                        <input type="text" class="form-control" th:field="*{password}"/>
                        <!-- 個別エラーメッセージの表示 -->
                        <span class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password error</span>
                    </div>
                </td>
            </tr>
            <!-- ユーザー名の入力エリア -->
            <tr>
                <th class="active">ユーザー名</th>
                <td>
                    <!-- ポイント１ : エラー用CSSの追加 -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('userName')} ? 'has-error'">
                        <input type="text" class="form-control" th:field="*{userName}"/>
                        <!-- 個別エラーメッセージの表示 -->
                        <span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">userName error</span>
                    </div>
                </td>
            </tr>
            <!-- 誕生日の入力エリア -->
            <tr>
                <th class="active">誕生日</th>
                <td>
                    <!-- ポイント１ : エラー用CSSの追加 -->
                    <div class="form-group" th:classappend="${#fields.hasErrors('birthday')} ? 'hasError'">
                        <input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{birthday}"/>
                        <!-- 個別エラーメッセージの表示 -->
                        <span class="text-danger" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}">birthday error</span>
                    </div>
                </td>
            </tr>
            <!-- 年齢の入力エリア -->
            <tr>
                <th class="active">年齢</th>
                    <td>
                        <!-- ポイント１ : エラー用CSSの追加 -->
                        <div class="form-group" th:classappend="${#fields.hasErrors('age')} ? 'hasError'">
                            <input type="text" class="form-control" th:field="*{age}"/>
                            <!-- 個別エラーメッセージの表示 -->
                            <span class="text-danger" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">age error</span>
                        </div>
                    </td>
            </tr>
            <!-- 結婚ステータスの入力エリア -->
            <tr>
                <th class="active">結婚</th>
                <td>
                    <div class="form-group">
                        <!-- ポイント :ラジオボタンの実装-->
                        <div th:each="item : ${radioMarriage}">
                            <input type="radio" name="radioMarriage" th:text="${item.key}" th:value="${item.value}" th:field="*{marriage}"/>
                            <!-- 個別エラーメッセージの表示 -->
                            <span class="text-danger" th:if="${#fields.hasErrors('marriage')}" th:errors="*{marriage}">marriage error</span>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <!-- ユーザー登録ボタン -->
        <button class="btn btn-primary" type="submit">ユーザー登録</button>
    </form>
</body>
</html>